<table class="table table-stripped">
<thead class="thead thead-default">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
</thead>
<% @users.each do |user| %>

  <% unless user == current_user %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      <%= link_to 'Send message', new_user_message_path(user.id) %>
      <% unless current_user.friends.include?(user) %>
        <%= link_to 'Add friend', friendships_path(:friend_id => user), :method => :post %>
      <% else %>
        <%= link_to 'Remove friend', friendship_path(:id => user.id), :method => :delete, :data => {:confirm => 'Are you sure?'} %>
      <% end %>
    </td>
  </tr>
  <% end %>

<% end %>
  
</table>
