<h2><%= menu_type %></h2>

<% i = 0 %>
<% count = food_items.count %>
<% food_items.each do |food_item| %>
    <% if i % 5 == 0 %>
        <div class="row">
    <% end %> 

    <div class="col-sm-2">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= food_item.name %></h4>
            <h6 class="card-subtitle"><%= number_to_currency(food_item.price, :unit => "VND") %></h6>
          </div>


          <img src="<%= food_item.image_url %>" alt="Card image" class="img-responsive img-rounded img-thumbnail">
          <div class="card-block">
            <p class="card-text"><%= food_item.description %></p>
            <%= link_to 'Show', food_item, class: "card-link" %>
          </div>
        </div>
    </div>

    <% if (i % 5 == 4) || (i == (count - 1)) %>
        </div>
    <% end %> 

    <% i = i + 1 %>
<% end %>

<%= link_to 'View all', food_items_path(:menu_type => menu_type) %>