<!DOCTYPE html>
<html>
  <head>
    <title>Saigon Restaurant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDkRvEfoiJIfBHNKNJo0dD0sbY6NsGpYiw&sensor=false"></script>
    <script>  
 
      function init_map() {
    var var_location = new google.maps.LatLng(10.7782,106.7019);
 
        var var_mapoptions = {
          center: var_location,
          zoom: 14
        };
 
    var var_map = new google.maps.Map(document.getElementById("map-container"),
            var_mapoptions);
 
    var contentString = 
      '<div id="infowindow_content">'+
            '<p><strong>Saigon Restaurant</strong><br>'+
            'First week assignment<br>' +
            'for the Ruby course<br>'+
            'conducted by CoderSchool</p>'+
            '<a href="http://www.coderschool.vn" target="_blank">Visit CoderSchool</a>'+
            '</div>';
 
        var var_infowindow = new google.maps.InfoWindow({
            content: contentString,
      position: var_location
          });
 
    var_infowindow.open(var_map);
 
      }
 
      google.maps.event.addDomListener(window, 'load', init_map);
 
    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Saigon Restaurant', root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/food_items">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All', food_items_path(:menu_type => 'all') %><li>
              <li><%= link_to 'Breakfast', food_items_path(:menu_type => 'breakfast') %><li>
              <li><%= link_to 'Lunch', food_items_path(:menu_type => 'lunch') %><li>
              <li><%= link_to 'Dinner', food_items_path(:menu_type => 'dinner') %><li>
              <li><%= link_to 'Drinks', food_items_path(:menu_type => 'drinks') %><li>
            </ul>
          </li>
          <li><%= link_to 'Contact', sites_about_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <%= yield %>

    </div>

  </body>
</html>
